<header>
    <h3>Rutas ejemplo: </h3>
    <nav>
        <ul>
            <li>
                <p>
                    Para obtener listado de productos: <a href="/products">/products</a>
                </p>
            </li>
            <li>
                <p>
                    Para obtener detalle de un producto: <a href="/products/12">/products/12</a>
                    <span>( /products/id )</span>
                </p>
            </li>
        </ul>
    </nav>
    <hr>
</header>