<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
<body>
    <%- include('partials/header') %>

    <main>
        <h1>La página solicitada no existe.</h1>

        <h3>Prueba con algúna de las opciones de la barra de navegación.</h3>

        <img src="/img/404-error.png" alt="">
        
    </main>
</body>
</html>